*~
*.so


*.cmake
CMakeCache.txt
Makefile
CMakeFiles

baker
connect-four
qbf
speeddating
qdimacs
matrix-game
nim-fibo
sample-from-file
baker-dbh
baker-queues
baker-queues2
baker-dbh-queues
baker-dbh-queues2
matrix-game-dbh
nim-fibo-dbh

baker_exec.txt
baker.spew
baker-q.txt
speeddating.txt

